body {

    background-color: #0a0a0a;
    background-image: 
        
        linear-gradient(rgba(0, 255, 117, 0.05) 1px, transparent 1px),
     
        linear-gradient(90deg, rgba(0, 255, 117, 0.05) 1px, transparent 1px),
       
        radial-gradient(circle at center, #130825 0%, #000000 100%);
    
    background-size: 30px 30px, 30px 30px, 100% 100%; 

    color: antiquewhite;
    font-family: monospace;
    margin: 0;
    padding: 20px;
    min-height: 100vh; 
}

h1 {
    text-align: center;
    padding-bottom: 40px;
    margin-top: 20px;
    
    text-shadow: 0 0 10px rgba(0, 255, 117, 0.5);
}

.container-projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}


.card-link {
    text-decoration: none; 
    color: inherit; 
    display: block; 
}


.card {
    width: 190px;
    height: 254px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
    
    cursor: pointer;
}


.card2 {
    width: 190px;
    height: 254px;
    background-color: #1a1a1a;
    border-radius: 20px;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}


.card:hover {
    box-shadow: 0px 0px 40px 5px rgba(0, 255, 117, 0.40); 
}


.card-txt {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-txt h2 {
    margin: 0;
    font-size: 1.3rem;
    color: #00ff75; 
}

.card-txt p {
    margin: 0;
}


.clique-aqui {
    font-size: 0.8rem;
    color: #3700ff;
    margin-top: 15px;
    opacity: 0.7;
    transition: 0.3s;
}


.card-link:hover .clique-aqui {
    opacity: 1;
    color: #00ff75;
    text-shadow: 0 0 5px #00ff75;
}